<h1>List of all directors</h1>

<table border="1">
 <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>Dob</th>
    <th></th>
  </tr>
<% @list_of_directors.each do |a_thing| %>
  <tr>
    <td><%= a_thing.id %></td>
    <td>
      <img src="http://robohash.org/<%= a_thing.name %>"/>
    </td>
    <td><%= a_thing.name %></td>
    <td><%= a_thing.dob %></td>
    <td>
      <a href="/directors/<%= a_thing.id%>">Show details</a>
    </td>
  </tr>
<% end  %>
</table>

<h2>Add a new director</h2>

<form action="/insert_director">
  <div>
    <label for="name_box">Name</label>
    <input type="text" id="name_box" name="query_name">
  </div>

  <div>
    <label for="dob_box">Dob</label>
    <input type="date" id="dob_box" name="query_dob">
  </div>

  <div>
    <label for="bio_box">Bio</label>
    <textarea type="text" id="bio_box" name="query_bio" rows="3"></textarea>
  </div>

  <div>
    <label for="image_box">Image</label>
    <input type="text" id="image_box" name="query_image">
  </div>

  <button>Create director</button>
</form>
